@import '../../styles/variables';
@import '../../styles/mixins';

.home {
  min-height: 100vh;
  @include flex-column;
  background: color(background);
  
  &__main {
    flex: 1;
    @include flex-column;
  }
}